@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@vueform/multiselect/themes/default.css";
@import "@vueform/toggle/themes/default.css";


.container {
    @apply px-5 lg:px-8 mx-auto max-w-screen-2xl 2xl:px-10 3xl:max-w-screen-3xl;
}

.ocv-link {
    @apply font-semibold text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white focus:outline focus:outline-2 focus:rounded-sm focus:outline-red-500 inline-block;
}

.title2 {
    @apply text-5xl font-medium tracking-tight sm:text-6xl xl:text-7xl flex flex-row gap-2 items-center leading-10;
}

.title3 {
    @apply font-medium tracking-tight text-2xl sm:text-3xl xl:text-4xl flex flex-row gap-2 items-center leading-8;
}

.title4 {
    @apply font-medium tracking-tight text-xl sm:text-2xl flex flex-row gap-2 items-center leading-8;
}
